<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <h1>Menu</h1>
    <a href="/" class="back-button">Back to Home</a>
    <div id="menu">
      <% menu.forEach(function(item) { %>
      <div class="menu-item">
        <img
          src="<%= item.img %>"
          alt="<%= item.name %>"
          style="width: 100px; height: 100px"
        />
        <p><%= item.name %></p>
        <p>Rp. <%= item.price %></p>
        <input
          type="checkbox"
          id="menu-<%= item.id %>"
          name="menu"
          value="<%= item.id %>"
        />
      </div>
      <% }); %>
    </div>
    <button class="order-button" onclick="placeOrder()">Place Order</button>
    <script src="/js/index.js"></script>
  </body>
</html>
